@page
@model Przepisy_kulinarne_projekt.Pages.AddARecipe.DetailsModel
@{
    ViewData["Title"] = "Szczegóły przepisu";
}
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<div class="row text-center justify-content-center mt-5">
    <h1>@Model.Recipe.Name  </h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="nav-item nav-link mt-1" asp-area="" asp-page="/AddARecipe/Edit" asp-route-id="@Model.Recipe.Id" title="Edytuj przepis">
            <img src="~/images/gear.svg" />
        </a>
    }
</div>
<div class="text-center mt-1">
    <h5>Data dodania: @Model.Recipe.Date</h5>
    <h4 class="mt-4">Składniki: @Model.Recipe.Ingredients</h4>
    <h4 class="mt-4">Sposób wykonania: @Model.Recipe.Steps</h4>
    <h4 class="mt-4">Ocena: @Model.Recipe.Rating</h4>
</div>

