@page
@model Przepisy_kulinarne_projekt.Pages.AddARecipe.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Recipe.Name)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Ingredients)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Ingredients)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Steps)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Steps)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Recipe.Id"><button type="button" class="btn btn-warning">Edytuj przepis</button></a>
</div>
<br />
<a asp-page="./Index">Wróć do listy przepisów</a>
