@page
@model Przepisy_kulinarne_projekt.Pages.AddARecipe.IndexModel

@{
    ViewData["Title"] = "Baza wszystkich przepisów";
}

<h1>Baza wszystkich przepisów</h1>
<form method="post">
<p>
    <input type="search" placeholder="Wpisz nazwę przepisu" value="@ViewData["GetRecipe"]" name="searchrecipe" />
    <input type="submit" value="Wybierz" />
</p>
<a asp-page="Index">Pokaż wszystkie rekordy</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].RecipeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].User)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Recipe)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                        <a class="nav-link" asp-area="" asp-page="/PersonPage" asp-route-id="@item.User.UserName" title="Sprawdź profil użytkownika">@Html.DisplayFor(modelItem => item.User.UserName)</a>
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id"><button type="button" class="btn btn-success">Zobacz przepis</button></a>
                    <a asp-page="./Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-warning">Edytuj przepis</button></a>
                    <a asp-page="./Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-danger">Usuń przepis</button></a>
                </td>
            </tr>
        }
    </tbody>
</table>
</form>
<p>
    <a asp-page="Create"><button type="button" class="btn btn-primary">Dodaj nowy przepis</button></a>
</p>
