@page
@model Przepisy_kulinarne_projekt.Pages.AddARecipeCategory.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<link href="~/css/table.css" rel="stylesheet" />
<link href="~/css/buttonprzepis.css" rel="stylesheet" />
<h1>Przepis połączony z kategorią</h1>

<div>
    <h4>Kategoria</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeCategory.Recipe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecipeCategory.Recipe.Ingredients)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeCategory.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecipeCategory.Category.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a style="color: #159726;"  asp-page="./Edit" asp-route-id="@Model.RecipeCategory.Id">Edytuj</a> |
    <a style="color: #1073b5;" asp-page="./Index">Wroc do listy kategorii</a>
</div>
