@page
@model Przepisy_kulinarne_projekt.Pages.AddARecipeCategory.IndexModel

@{
    ViewData["Title"] = "Kategorie z przepisami";
}
<link href="~/css/table.css" rel="stylesheet" />
<link href="~/css/buttonprzepis.css" rel="stylesheet" />

<h1>Połączone kategorie z przepisami</h1>

<p>
    <a style="color: #1073b5;" asp-page="Create">Stworz nową</a>
</p>
<form method="post">
    <select name="searchcategory" asp-items="@(new SelectList(Model.Category, "Id","CategoryName")) ">
        <option selected disabled>--Wybierz kategorię</option>
    </select>
    <input type="submit" value="Wybierz" />
    <a style="color: #1073b5;" asp-page="Index">Pokaż wszystkie rekordy</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RecipeCategory[0].Recipe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RecipeCategory[0].Category)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RecipeCategory)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Recipe.RecipeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        <a style="color: #159726;" asp-page="./Edit" asp-route-id="@item.Id">Edytuj</a> |
                        <a style="color: #1073b5;" asp-page="./Details" asp-route-id="@item.Id">Szczegóły</a> |
                        <a style="color: #8f0707;" asp-page="./Delete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</form>
<a class="nav-link text-dark" asp-area="" asp-page="/AddACategory/Index"><button type="submit" class="myButton1">Zarządzanie kategoriami</button></a>