@page
@model Przepisy_kulinarne_projekt.Pages.AddACategory.IndexModel

@{
    ViewData["Title"] = "Kategorie";
}
@inject SignInManager<IdentityUser> SignInManager

<h1>Wykaz kategorii</h1>

<p>
    Jeżeli nie ma kategorii, która cię interesuje,
    <a asp-page="Create">dodaj nową</a>.
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Category)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                @if (SignInManager.IsSignedIn(User))
                {
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
