@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="~/css/table.css" rel="stylesheet" />
<link href="~/css/karty.css" rel="stylesheet" />


<h1 class="mt-1 text-center ">Top 10 przepisów:</h1>
<div class="card-group">
    @foreach (var item in Model.Recipes)
    {
        <a class="card2" asp-area="" asp-page="/AddARecipe/Details" asp-route-id="@item.Id" title="Szczegóły przepisu">
            <h3>@item.RecipeName </h3>
            <p class="small"> @item.Date</p>
            <div class="go-corner" href="#">
                <div class="go-arrow">
                    →
                </div>
            </div>
        </a>
    }
</div>

@*<div class="text-center">
        <a class="nav-link text-dark" asp-area="" asp-page="/AddARecipe/Index"><button type="submit" class="btn btn-secondary">Wszystkie przepisy</button></a>
        <a class="nav-link text-dark" asp-area="" asp-page="/AddARecipe/Create"><button type="submit" class="btn btn-secondary">Dodaj przepis</button></a>
        <a class="nav-link text-dark" asp-area="" asp-page="/AddACategory/Index"><button type="submit" class="btn btn-secondary">Zarządzanie kategoriami</button></a>
        <a class="nav-link text-dark" asp-area="" asp-page="/AddARecipeCategory/Index"><button type="submit" class="btn btn-secondary">Kategorie z przepisami</button></a>

        <h1 class="mt-3 text-center">Top 10 przepiów:</h1>
    <div class="card-columns">
        @foreach (var item in Model.Recipes)
        {
        <a class="nav-item nav-link" asp-area="" asp-page="/AddARecipe/Details" asp-route-id="@item.Id"  title="Szczegóły przepisu">
            <div class="card text-center">
                <div class="card-body text-center ">
                    <h5 class="card-title row">@item.RecipeName</h5>
                        <p class="card-text row d-flex">@item.Date</p>
                </div>
            </div>
        </a>
        }
    </div>

    </div>*@
