@page
@model Przepisy_kulinarne_projekt.Areas.Identity.Pages.Account.Manage.ProfilePageModel
@{
    ViewData["Title"] = "Profil";
}
<link href="~/css/table.css" rel="stylesheet" />
<link href="~/css/karty.css" rel="stylesheet" />

<div class="row text-center justify-content-center mt-5">
    <h1>@Model.User.Identity.Name  </h1>
    <a class="nav-item nav-link " asp-area="Identity" asp-page="/Account/Manage/Index" title="Edytuj profil">
        <img src="~/images/icons/gear.svg" style="float:right;width:30px;height:30px;" />
    </a>
</div>

<h5 class="mt-3">Twoje przepisy</h5>
<div class="card-group">
    @foreach (var item in Model.Recipes)
    {
        <a class="card2" asp-area="" asp-page="/AddARecipe/Details" asp-route-id="@item.Id" title="Szczegóły przepisu">
            <h3>@item.RecipeName </h3>
            <p class="small"> @item.Date</p>
            <div class="go-corner" href="#">
                <div class="go-arrow">
                    →
                </div>
            </div>
        </a>
    }
</div>


<h5 class="mt-3">Ulubione przepisy</h5>
<div class="card-group">
    @foreach (var item in Model.FavRecipes)
    {
        <a class="card2" asp-area="" asp-page="/AddARecipe/Details" asp-route-id="@item.RecipeId" title="Szczegóły przepisu">
            <h3>@item.Recipe.RecipeName </h3>
            <p class="small"> @item.Recipe.Date</p>
            <div class="go-corner" href="#">
                <div class="go-arrow">
                    →
                </div>
            </div>
        </a>
        <a class="myButton2" asp-area="" asp-page="/AddAFav/Delete" asp-route-id="@item.Id" title="Usuń przepis">
            <img src="~/images/icons/trash-alt-regular.svg" style="float:right;width:30px;height:30px;" />
        </a>
    }
</div>